.plus-or-minus-button {
  width: 20px;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.product-amount-input {
  width: 50px;
}

.add-or-edit-modal{
  text-align: center;
}

.amount-input-container {
  display: flex;
  justify-content: center;
}

.amount-error {
  color: red;
  margin-top: 10px;
}

.no-products {
  margin-top: 25px;
  color: red;
}

.img {
  height: 125px;
  width: 125px;
  margin-bottom: 20px;
}

.total-price {
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(50%);
}
