.store {
  width: 100%;
  height: 89vh;
  position: relative;
  display: flex;
  text-align: center;
}

app-cart {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  display: inline-flex;
  flex-direction: column;
  min-width: 25%;
  padding: 10px;
  height: 86vh;
  overflow-y: auto;
}

app-products-container {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  display: inline-flex;
  min-width: 69%;
  height: 86vh;
  overflow-y: auto;
}

app-add-or-edit-product {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  display: inline-flex;
  flex-direction: column;
  min-width: 25%;
  padding: 10px;
  height: 86vh;
  overflow-y: auto;
}

.hide {
  display: none;
}

.cart-button {
  min-width: 50px;
}

@media screen and (max-width: 960px) {
  .store {
    flex-wrap: wrap;
    justify-content: center;
  }

  app-add-or-edit-product {
    width: 91vw;
  }

  app-cart {
    width: 91vw;
    height: fit-content;
    max-height: 80vh;
  }

  .cart-button {
    margin: 10px 0 10px 0;
  }
}
