<div class="products">
  <div class="menu-bar"></div>
  <div>
    <app-product-card
      *ngFor="let product of _products.productsArray"
      [product]="product"
    >
    </app-product-card>
  </div>
  <!-- <div>
    <select
      class="select-categories"
      (change)="_categories.getAllCategories()"
      [(ngModel)]="selectedCategoryId"
    >
      <option value="">Select category</option>
      <option
        *ngFor="let category of _categories.categoriesArray"
        value="{{ category.id }}"
      >
        {{ category.name }}
      </option>
    </select>
  </div> -->
</div>
