<div class="card-container">
  <div class="account card">
    <router-outlet></router-outlet>
  </div>
  <div class="about card">
    <p>We have the best prices, products and service online!</p>
    <img
      src="/assets/images/Grocery.png"
      alt="Grocery"
      height="400px"
      width="400px"
    />
  </div>
  <div class="general-info card">
    Amount of products: <br />
    {{ _products.amountOfProducts }}
    <br />
    Amount of orders: <br />
    {{ _orders.amountOfOrders }} <br />
    <br />
    <div *ngIf="_orders.lastPurchaseDate">
      <h6>Your last order was at:</h6>
      <h6>{{ _orders.lastPurchaseDate | date: "fullDate" }}</h6>
    </div>
    <div *ngIf="cart?.isOpen">
      You have an opened cart from {{ cart.creationDate | date: "fullDate" }}
    </div>
  </div>
</div>
