.card-container {
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 89vh;
}

.card {
  height: 83vh;
  width: 30%;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  padding: 10px;
  text-align: center;
}

.general-info{
  padding-top: 50px;
}

.about{
  padding-top: 50px;
}

.img{
  width: 30vw;
}

.amountOfProducts{
  color: green;
}

@media screen and (max-width: 960px) {
  .card {
    height: fit-content;
    width: 83vw;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 1px 3px 0 rgb(0 0 0 / 12%);
    padding: 10px;
    text-align: center;
  }

  .img{
    width: 250px;
  }

}
