.navbar {
  /* min-height: 100%; */
  background-color: #e3f2fd;
  border: 2px solid black;
}

.log-out-button {
  margin-right: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #71797e;
}

.log-out-button:hover{
  color: blue;
}

.welcome {
  top: 2%;
  position: relative;
}


