<nav class="navbar navbar-expand-lg navbar-light">
  <a routerLink="/landing-page" class="navbar-brand">🏪 Supermarket</a>
  <a *ngIf="currentUser" class="welcome">
    Welcome {{ currentUser.firstName }} {{ currentUser.lastName }}
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>

    <form *ngIf="currentUser" class="form-inline my-2 my-lg-0">
      <button *ngIf="currentUser?.role == 'admin'" class="btn btn-outline-primary my-2 my-sm-0" (click)="router.navigate(['/doc'])">Documentation</button>
      <input
      *ngIf="_stateService.isStore"
      [(ngModel)]="_stateService.searchedInput"
      (ngModelChange)="onSearchInputChanged($event)"
      name="searchedInput"
      class="form-control mr-sm-2 searchedInput"
      type="search"
      placeholder="Search"
      aria-label="Search"
      />
      <button class="log-out-button" (click)="onLogOutClicked()">
        Log out
      </button>
    </form>
  </div>
</nav>
