input {
  font-size: x-large;
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 300px;
}

.new-user-container button {
  margin-top: 20px;
}

.new-user-container button:hover {
  background-color: lightblue;
  cursor: pointer;
}
