<div class="new-user-container">
  <input
    placeholder="User id"
    type="text"
    [(ngModel)]="userId"
  />
  <input
    placeholder="User email"
    type="text"
    [(ngModel)]="userName"
  />
  <input
    placeholder="User first name"
    type="text"
    [(ngModel)]="userFirstName"
  />
  <input
    placeholder="User last name"
    type="text"
    [(ngModel)]="userLastName"
  />
  <input
    placeholder="User password"
    type="password"
    [(ngModel)]="userPassword"
  />
  <input
    placeholder="User city"
    type="text"
    [(ngModel)]="userCity"
  />
  <input
    placeholder="User street"
    type="text"
    [(ngModel)]="userStreet"
  />


  <button (click)="addNewUser()">Register</button>
</div>
