<p-card
  header="Log In"
  [style]="{ width: '25rem', height: '600px', 'margin-bottom': '2em' }"
  >
  <br>
<form [formGroup]="userLoginForm">
  <span class="p-float-label">
    <input formControlName="userEmail" id="float-input userEmail" type="text" pInputText name="userEmail" />
    <br>
    <label for="float-input">Email</label>
  </span>
  <div class="errors-div" *ngIf="userLoginForm.controls['userEmail'].invalid && (userLoginForm.controls['userEmail'].dirty || userLoginForm.controls['userEmail'].touched)">
    <div *ngIf="userLoginForm.controls['userEmail'].errors.required">
    Please enter email
    </div>
    <div *ngIf="userLoginForm.controls['userEmail'].errors.email">
      Please enter valid email
    </div>
    <div *ngIf="userLoginForm.controls['userEmail'].errors.maxlength">
      Maximum length is 50 characters
    </div>
  </div>
  <br><br>
  <span class="p-float-label">
    <input formControlName="password" id="float-input password" type="password" pInputText  name="password"/>
    <label for="float-input">Password</label>
  </span>
  <div class="errors-div" *ngIf="userLoginForm.controls['password'].invalid && (userLoginForm.controls['password'].dirty || userLoginForm.controls['password'].touched)">
    <div *ngIf="userLoginForm.controls['password'].errors.required">
    Please enter password
    </div>
    <div *ngIf="userLoginForm.controls['password'].errors.minlength">
      Length should be at least 6 characters
    </div>
    <div *ngIf="userLoginForm.controls['password'].errors.maxlength">
      Maximum length is 10 characters
    </div>
  </div>
  <div class="errors-div" *ngIf="isLoginFail">
    password is incorrect or user name doesn't exists
  </div>
  <br><br>
  <p-button [disabled]="userLoginForm.invalid || isLoginFail" (click)="onLoginClicked()">Submit</p-button>
</form>
<br>
<a routerLink="/landing-page/register/step-one">not registered? click here</a>
</p-card>
