.page404 {
  padding: 15px;
  padding-top: 80px;
  height: 88vh;
  text-align: center;
}

h3{
  color: red;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
}

img{
  width: 30vw;
}

@media screen and (max-width: 960px) {
  .page404 {
    width: 91vw;
  }

  img{
    width: 60vw;
  }

}
