<div class="cart-container">
  <p-dataView
    #dv
    [value]="cartItemsArray"
    filterBy="productName"
  >
    <ng-template pTemplate="header">
      <h4 class="title">My Cart</h4>
      <input
        class="search"
        type="search"
        pInputText
        placeholder="Search product in cart"
        (input)="onSearchChange($any($event.target).value)"
      />
      <div class="total-amount" *ngIf="_cartItemsService.cartItemsTotalPrice">
        <p>
          Total cart amount:
          {{ _cartItemsService.cartItemsTotalPrice | currency: "ILS" }}
        </p>
      </div>
    </ng-template>
    <ng-template let-ICartItems pTemplate="listItem">
      <div class="col-12">
        <div class="product-list-item">
          <img
            [src]="'/assets/images/' + ICartItems.productImage"
            [alt]="ICartItems.productName"
          />
          <div class="product-list-detail">
            <div class="product-name"[innerHTML]="ICartItems.productName | marker: searchValue"> </div>
            <div class="product-quantity">
              Amount: {{ ICartItems.quantity }}
            </div>
          </div>
          <div class="product-list-action">
            <span class="product-price">{{
              ICartItems.productPrice * ICartItems.quantity | currency: "ILS"
            }}</span>
            <span class="cart-card-buttons">
              <button
                pButton
                pRipple
                *ngIf="!isOrder"
                (click)="onDeleteCartItemFromCartClicked(ICartItems.id)"
                class="delete-button p-button-text"
                icon="pi pi-trash"
              ></button>
              <button
                pButton
                pRipple
                *ngIf="!isOrder"
                class="cart-button p-button-text edit-button"
                icon="pi pi-pencil"
                (click)="onEditCartItemQuantityClicked(ICartItems)"
              ></button>
            </span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  <span class="p-buttonset cart-buttons-set">
    <button
      pButton
      pRipple
      *ngIf="!isOrder"
      label="Clear Cart"
      class="footer-button"
      (click)="onShowConfirmClicked()"
      [disabled]="cartItemsArray?.length == 0"
    ></button>
    <button
      pButton
      pRipple
      label="Payment"
      *ngIf="!isOrder"
      class="footer-button"
      (click)="onPaymentClicked()"
      [disabled]="cartItemsArray?.length == 0"
    ></button>
  </span>
  <span class="p-buttonset cart-buttons-set">
    <button
      pButton
      pRipple
      *ngIf="isOrder"
      label="Back to store"
      class="footer-button back-to-store"
      (click)="onBackToStoreClicked()"
    ></button>
  </span>
</div>

<app-add-or-edit-cart-item-modal
  *ngIf="isModalOpen"
  [(isModalOpen)]="isModalOpen"
  [cartItemInModal]="cartItemToEdit"
></app-add-or-edit-cart-item-modal>

<p-toast
  position="top-center"
  key="cc"
  (onClose)="onRejectClicked()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6 clearModalButtonDiv">
          <button
            type="button"
            pButton
            (click)="onConfirmClicked()"
            label="Yes"
            class="p-button-success clearModalButton"
          ></button>
          <button
            type="button"
            pButton
            (click)="onRejectClicked()"
            label="No"
            class="p-button-secondary clearModalButton"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
