.cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search {
  width: 100%;
}

.product-name {
  font-size: 20px;
  font-weight: 200;
}

.product-list-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.product-list-detail {
  width: 100%;
  margin: 10px 0px 10px 20px;
}

.product-price {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
  align-self: center;
}

.product-list-action {
  display: flex;
  flex-direction: column;
}

img {
  width: 35%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

:host ::ng-deep .product-list-item {
  align-items: center;
}

.product-list-action {
  margin-top: 1rem;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

.delete-button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-30%);
}

.cart-button {
  align-self: flex-end;
  padding: 5px;
  margin: 0;
  font-size: 0.6rem;
  width: 2rem;
}

.cart-buttons-set {
  margin-top: auto;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.footer-button {
  width: 50%;
}
