<div class="before-shopping-div">
  <form>
    <h3
      *ngIf="
        !_ordersService.lastPurchaseDate &&
        currentUser.role == 'user'
      "
    >
      Welcome to your first purchase
    </h3>
    <h3 *ngIf="currentUser?.role == 'user' && _ordersService.lastPurchaseDate">Welcome Back!</h3>

    <p-button
      (click)="onResumeShoppingClicked()"
      *ngIf="cart && cartItemsArray?.length > 0 && currentUser.role == 'user'"
      >Resume Shopping</p-button
    >
    <p-button
      (click)="onStartShoppingClicked()"
      *ngIf="currentUser?.role == 'user' && (!cart || (cart && cartItemsArray?.length == 0) )"
      >Start Shopping</p-button
    >
    <p-button (click)="onGoToStoreClicked()" *ngIf="currentUser.role == 'admin'"
      >Go To Store</p-button
    >
  </form>
</div>
