.product-card {
  border-radius: 20px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 72%);
  box-sizing: border-box;
  height: 290px;
  width: 240px;
  padding: 4px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
}


.details {
  margin-left: 10px;
  margin: auto;
}

.price{
  float: left;
  margin-left: 35px;
  margin-top: 10px;
}

.add-to-cart button{
  border-radius: 30vh;
}

.img {
  height: 135px;
  width: 135px;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 72%);
  box-sizing: border-box;
  margin-bottom: 20px;
}



