.product-card {
  width: 100%;
  display:flex;
  border: 2px solid black;
  margin: auto;
  margin-bottom: 15px;
  padding: 12px;
}

.details{
  margin-left: 10px;
  margin: auto;
}

.delete-product button:hover{
  cursor: pointer;
  background-color: lightblue;
}
