<div class="product-card">
  <div>
    <br />
    <img class="img" [src]="product?.imgUrl" [alt]="product?.name" />
  </div>

  <div class="details">
    <div class="name">
      <h4>{{ product?.name }}</h4>
      <span class="price">
        <h5>{{ product?.price | currency: "ILS" }}</h5>
      </span>
    </div>
    <span class="add-to-cart" *ngIf="currentUser.role =='user'">
      <button
        pButton
        pRipple
        icon="pi pi-shopping-cart"
        (click)="onAddToCartClicked(product)"
      ></button>
    </span>
    <span class="edit-product" *ngIf='currentUser.role=="admin"'>
      <button
        pButton
        pRipple
        icon="pi pi-pencil"
        (click)="onEditProductClicked(product)"
      ></button>
    </span>
  </div>
</div>
<app-add-or-edit-cart-item-modal *ngIf="isModalOpen" [(isModalOpen)]="isModalOpen" [productToAdd]="productToAdd" ></app-add-or-edit-cart-item-modal>
