.product-card {
  border:  1px solid black;
  box-sizing: border-box;
  min-height: 70px;
  width: 185px;
  padding: 2px;
  margin: 10px;
  overflow: auto;
  display: inline-block;
  text-align: center;
  background-color: ede6d0;
}

.details{
  margin-left: 10px;
  margin: auto;
}

.delete-product button:hover{
  cursor: pointer;
  background-color: lightblue;
}
