<h1>Add new Product</h1>
<div class="new-Product-container">
  <input placeholder="Product Name" type="text" [(ngModel)]="newProductName" />
  <input
  placeholder="Product price"
  type="number"
  [(ngModel)]="newMovieLength"
  />
  <input placeholder="Product image url" type="text" [(ngModel)]="newProductImgUrl" />
  <div>
    <select
      class="select-categoty"
      (change)="_products.getProductsByCategory(selectedCategoryId);"
      [(ngModel)]="selectedCategoryId"
    >
      <option value="">Select your Category</option>
      <option
        *ngFor="let category of _categories.categoriesArray"
        value="{{ category.id }}"
      >
        {{ category.name }}
      </option>
    </select>
  </div>
  <button (click)="addNewProduct()">Add new Product</button>
</div>
